/* .background {
    position: absolute;
    width: 1365px;
    height: 960px;
    left: 0px;
    top: 200px;

   
    filter: blur(2px);
}

.name1{
    position: absolute;
    width: 512px;
    height: 131px;
    left: 756px;
    top: 492px;

    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 96px;
    text-align: center;

    color: #FFFFFF;
}

.text1 {
    position: absolute;
    width: 633px;
    height: 126px;
    left: 689px;
    top: 581px;

    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.button3 {


    position: absolute;
    width: 474px;
    height: 134px;
    left: 756px;
    top: 727px;

    background: #FFFFFF;
    border-radius: 90px;




    position: absolute;
    width: 360px;
    height: 82px;
    left: 810px;
    top: 745px;

    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 96px;
    text-align: center;

    color: #000000;
} */