/* .right_n {


position: absolute;
width: 130px;
height: 0px;
left: 1122px;
top: 3915.12px;

border: 3px solid #000000;
transform: matrix(0.87, -0.5, -0.5, -0.87, 0, 0);


}

.right_v {


position: absolute;
width: 130px;
height: 0px;
left: 1122.75px;
top: 3785px;

border: 3px solid #000000;
transform: matrix(0.87, 0.5, 0.5, -0.87, 0, 0);

} */