@font-face {
    font-family: Hind;
    src: url(../fonts/Hind-Bold.ttf);
    src: url(../fonts/Hind-Light.ttf);
    src: url(../fonts/Hind-Medium.ttf);
    src: url(../fonts/Hind-Regular.ttf);
    src: url(../fonts/Hind-Regular.ttf);
}